# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = claudealdric
	email = cvaldric@gmail.com
	signingkey = 9D7BF5E8B7099AB6
[core]
	editor = nvim
	pager = less -x1,5
[commit]
	gpgSign = true
[gpg]
	program = gpg
[tag]
	gpgSign = true
[init]
	defaultBranch = main
